body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #111111, #333333);
  }
  
  .square-container {
  display: grid;
  width: 100px;
  height: 150px;
  border-radius: 60px;
  padding: 40px;
  gap: 20px;
  list-style: none;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background: rgba(255, 255, 255, 0.2);
  }

  .clicked{
    background: rgba(170, 24, 35, 0.8)
  }
  
  .disc {
  background: white;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  
  }
  .disc-clicked {
    background: rgba(170, 24, 35, 0.8)
  }

  .dice {
    padding: 30px;
  }
  
  button {
    text-decoration: none;
    display: inline-block;
    margin-left: 50px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    border-radius: 50px;
    background-color: #4caf50;
    width: 150px; /* set a fixed width for the button */
    height: 200px;
  }

  .dice-container {
    display: flex;
    flex-direction: row;
  }

  .margin {
    width: 10px; /* set the width of the margin */
  }
  .yellow-button {
    background-color: #b4a835;
  }

  .current-player {
    color: red;
  }

  
  